body {
    background-color: #212121;
    color: #d3bcbc;
}

#title {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    color: rgb(116, 6, 6);
    text-decoration-thickness:10px ;
    background-color: #bdaeae;
    margin-left: 360px;
    margin-right:360px ;
    padding: 10px;
    border-radius:25px ;
}
#newGameBtn{
   margin-top:20px;
   padding:10px;
   border-radius:25px;
   color: rgb(116, 6, 6);
   background-color: #bdaeae;
}

#submit{
    border-radius: 25px;
    margin: 5px;
    padding: 7px;
    color: rgb(116, 6, 6);
}
#numberGuess{
    border-radius: 25px;
    margin: 5px;
    padding: 7px;
    text-align: center;
    font-size: 20px;
    color: rgb(116, 6, 6);
}

#form{
    background-color: rgb(116, 6, 6);
    margin-top: 40px;
    margin-left: 360px;
    margin-right: 360px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}